<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <div class="bg"></div>  
    <header>
        <h1>Pokédex</h1>
    </header>
    <main class="pokeList">
        <% pokedex.forEach(item => { %>
            <a href="/details/<%= pokedex.indexOf(item) %>">
            <div class="thumbPoke">
                <%= item.number %>
                <%= item.poke %>
                <img class="imgPoke" src="<%= item.image %>" alt="<%= item.alt %>">
                <%= item.type1 %>
                <% if (item.type2 !==null ) { %>
                        <%= item.type2 %>
                <% } %>
            </div>
            </a>                
        <% }) %>
    </main>
    <footer>
        <h4>Click Pokémon Card for Details</h4>
        <a href="/new"><button>Add</button></a>
    </footer>   
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>