<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <div class="bg"></div>  
    <header>
        <div>
            <%- include('nav.ejs') %>
        </div>        
    </header>
    <main class="pokeList">
        <% pokedex.forEach(item => { %>
            <a href="/details/<%= item.poke %>">
            <div class="thumbPoke">
                <div>
                    <p><%= item.poke %></p>
                    <p>#<%= item.number %></p>
                </div>
                <img class="imgPoke" src="<%= item.image %>" alt="<%= item.alt %>">
                <div>
                    <p><%= item.type1 %></p>
                    <% if (item.type2 !==null ) { %>
                            <p><%= item.type2 %></p>
                    <% } %>
                </div>

            </div>
            </a>                
        <% }) %>
    </main>
    <% if (info != "") {  %>
        <section id="info">
            <p><%= info %></p>
        </section>
    <% }  %>
    <footer>
       <div>
           <%- include('addFooter.ejs') %>
       </div>
    </footer>   
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>